body{
    background-color: rgb(56, 47, 34);
    padding:10px
}


.cards{
    display:none;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;

    padding:10px;
    margin-top:10px;
    margin-bottom:10px;

    width:800px;
    height:fit-content;

}
.cardInput{
    font-size:20px;
    width:500px;
    min-height:1.5em;
    resize: none;
}
.dltBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: self-end;
    width:20px;
}
    
